<div class="page-header">
  <h1>
    Reservations
    <a href="/reservations/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Reserve start</th>
          <th>Reserve end</th>
          <th>Username</th>
          <th>Item name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.reserve_start %></td>
            <td><%= reservation.reserve_end %></td>
            <td><%= reservation.username %></td>
            <td><%= reservation.item.name %></td>
            <td>
              <a href="/reservations/<%= reservation.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>
            </td>
            <td>
              <a href="/reservations/<%= reservation.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <td>
              <a href="/delete_reservation/<%= reservation.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->

