<!-- Validation failure messages -->

<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Simple full-width example-->

<div class="page-header">
  <h1>Add Item</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_item" class="form-horizontal">
      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">
          Name
        </label>
        <div class="col-sm-10">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @item.name %>">
        </div>
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="col-sm-2 control-label">
          Category
        </label>
        <div class="col-sm-10">
          <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for size -->
      <div class="form-group">
        <label for="size" class="col-sm-2 control-label">
          Size
        </label>
        <div class="col-sm-10">
          <%= select_tag(:category_id, options_for_select([0, 2, 4, 6, 8, 10, 12, 14, 'S', 'M', 'L']), :class => "form-control") %>
        </div>
      </div>

      <!-- Label and input for color -->
      <div class="form-group">
        <label for="color" class="col-sm-2 control-label">
          Color
        </label>
        <div class="col-sm-10">
          <input type="text" id="color" name="color" placeholder="Color" class="form-control" value="<%= @item.color %>">
        </div>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">
          Price
        </label>
        <div class="col-sm-10">
          <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @item.price %>">
        </div>
      </div>

      <!-- Label and input for username -->
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">
          Username
        </label>
        <div class="col-sm-10">
          <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @item.username %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Item" class="btn btn-success">
          or
          <a href="/items">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Item</h3>
      </div>
      <div class="panel-body">
        <form action="/create_item" class="form-horizontal">
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @item.name %>">
            </div>
          </div>

          <!-- Label and input for category_id -->
          <div class="form-group">
            <label for="category_id" class="col-sm-2 control-label">
              Category
            </label>
            <div class="col-sm-10">
              <input type="text" id="category_id" name="category_id" placeholder="Category" class="form-control" value="<%= @item.category_id %>">
            </div>
          </div>

          <!-- Label and input for size -->
          <div class="form-group">
            <label for="size" class="col-sm-2 control-label">
              Size
            </label>
            <div class="col-sm-10">
              <input type="text" id="size" name="size" placeholder="Size" class="form-control" value="<%= @item.size %>">
            </div>
          </div>

          <!-- Label and input for color -->
          <div class="form-group">
            <label for="color" class="col-sm-2 control-label">
              Color
            </label>
            <div class="col-sm-10">
              <input type="text" id="color" name="color" placeholder="Color" class="form-control" value="<%= @item.color %>">
            </div>
          </div>

          <!-- Label and input for price -->
          <div class="form-group">
            <label for="price" class="col-sm-2 control-label">
              Price
            </label>
            <div class="col-sm-10">
              <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @item.price %>">
            </div>
          </div>

          <!-- Label and input for created_at -->
          <div class="form-group">
            <label for="created_at" class="col-sm-2 control-label">
              Created at
            </label>
            <div class="col-sm-10">
              <input type="text" id="created_at" name="created_at" placeholder="Created at" class="form-control" value="<%= @item.created_at %>">
            </div>
          </div>

          <!-- Label and input for updated_at -->
          <div class="form-group">
            <label for="updated_at" class="col-sm-2 control-label">
              Updated at
            </label>
            <div class="col-sm-10">
              <input type="text" id="updated_at" name="updated_at" placeholder="Updated at" class="form-control" value="<%= @item.updated_at %>">
            </div>
          </div>

          <!-- Label and input for username -->
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
              Username
            </label>
            <div class="col-sm-10">
              <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @item.username %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Item" class="btn btn-success">
              or
              <a href="/items">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
